/*---------------------------------------------------------------------------------- alt */

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

h1, h2, h3 {
  text-align: center;
}

.header {
  background-color: white;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items:center;
  position: fixed;
  top: 0;
  width: 100%;
}

.header::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  margin: 0 0 0 auto;
  height: 10vh;
  display: flex;
  justify-content: right;
  align-items:center;
}


.logo {
  float: left;
  padding: 10px 0;
  height: 10vh;
  margin-left: 5%;
}

nav {
    float: right;

}

nav ul {
  margin: 0 70px 0 0;
  padding: 0;

  list-style:none;


}

nav li {
  display:inline-block;
  margin-left: 70px;

  position: relative;
}

nav ul li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;

}

nav ul li a:hover {
  color: #7354D1;
}

nav ul li a::before {
  content: '';
  display: block;
  height: 2px;
  background-color: #7354D1;


  position: absolute;
  bottom: 0;
  width: 0;
  transition: all ease-in-out 250ms;
}

nav ul li a:hover::before{
  width: 100%;

}
/*---------------------------------------------------------------------------------- index */

#front {
  width: 100%;
  margin: 0;
}

#front #people {
  background-image: url("Bilder/People.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: 100vw auto;
  height: 60vh;
  width: 100vw;
  display: flex;
  justify-content:center;
  align-items: center;
  text-transform: uppercase;
}

#front #news {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#front #news .text {
  grid-column: 1fr;
  width: 100%;
  height: 100%;
  margin:0;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

#front #news #bilde1, #bilde2, #bilde3 {
  grid-column: 1fr;
  margin: 0;
  max-width: 50vw;
  height: auto;
}

#kalender {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin:0;
}

#kalender #dato1 {
  grid-column: 1fr;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-image: url(Bilder/Cooking.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  height: 60vh;
  width: 25vw;
}

#kalender #dato1 .datotext {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align:center;
}

#kalender #dato2 {
  grid-column: 1fr;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-image: url(Bilder/Soccer.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  height: 60vh;
  width: 25vw;
}

#kalender #dato2 .datotext {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align:center;
}

#kalender #dato3 {
  grid-column: 1fr;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-image: url(Bilder/Birthday.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  height: 60vh;
  width: 25vw;
}

#kalender #dato3 .datotext {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align:center;
}

#kalender #dato4 {
  grid-column: 1fr;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-image: url(Bilder/Happy.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  height: 60vh;
  width: 25vw;
}

#kalender #dato4 .datotext {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align:center;
}

/*---------------------------------------------------------------------------------- Om oss */

#omoss {
  width: 100%;
  margin: 0;
}

#omoss #us {
  background-image: url("Bilder/gutt.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: 100vw auto;
  height: 60vh;
  width: 100vw;
  display: flex;
  justify-content:center;
  align-items: center;
  text-transform: uppercase;
}

#omoss #oss {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#omoss #oss .text {
  grid-column: 1fr;
  width: 95%;
  height: 100%;
  margin:0 5%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

#omoss #oss #bilde1, #bilde2, #bilde3 {
  grid-column: 1fr;
  margin: 0;
  max-width: 50vw;
  height: auto;
}
/*---------------------------------------------------------------------------------- Fremtid */


#future {
  width: 100%;
  margin: 0;
}

#future #futurebilde{
  background-image: url("Bilder/People.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: 100vw auto;
  height: 60vh;
  width: 100vw;

}

#future #info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#future #info .text {
  grid-column: 1fr;
  width: 100%;
  height: 100%;
  margin:0;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



/*---------------------------------------------------------------------------------- registrering */

#registrering {
  margin: 0;
}

#registrering #Noe {
  background-image:url("Bilder/happypo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: 100vw auto;
  height: 60vh;
  width: 100vw;
}

#reg {
  display: grid;
  grid-template-columns:Repeat(2, 1fr);
}

#reg .form {
  grid-column: 1fr;
   display: block;
   margin: 0 2%;
   width: 98%;
   height: auto;
   text-align: center;

 }

 #reg #Bilde1 {
   grid-column: 1fr;
   margin: 0;
   max-width: 50vw;
   height: auto;
 }

input[type=text]  {
  width: 50%;
  padding: 1%;
  display: inline-block;
  border: none;

  background: #f1f1f1;
}

input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

.gender, .work, .continent {
  margin: 1% 0;
}


.registerbtn {
  display: block;

  background-color: #E1E3FF;
  padding: 2% 0;
  margin: 2% auto;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
}
.button{
  text-align: center;
}

.registerbtn:hover {
  opacity: 1;
  background-color: #35DFED;
}

#registrering ul {
  list-style: none;
}


/*---------------------------------------------------------------------------------- footer */

footer {
  margin: 0;
  background-color: black;
  height: 15vh;
  color: white;
}

footer ul {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 2%;
  text-align:center;
}

footer ul li {
  width: calc(100%/4);
}

footer ul a {
  text-decoration:none;
  color: white;
}

footer ul a:hover {
  text-decoration:none;
  color: #7354D1;

}


/*---------------------------------------------------------------------------------- @media */





.
